:root {
	--font-family: "SF Pro Text", "Open Sans", "Clear Sans", "Helvetica Neue",
		Helvetica, Arial, sans-serif;
	--code-font-family: SF Mono, TheSansMonoCd-Regular, SF Mono, Monospace !important;
	--monospace: SF Mono, TheSansMonoCd-Regular, Monospace !important;
	--select-text-font-color: black;
}
body {
	font-family: var(--font-family);
	color: black;
	/* font-size: 17px; */
	/* line-height: 1.6; */

	-webkit-font-smoothing: antialiased !important;
	/* -webkit-font-smoothing: subpixel-antialiased !important; */
	/* font-smooth: 1em !important;
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale !important; */
}

code,
code *,
kbd,
[class~="code"],
[style*="monospace"],
.monospaced,
pre {
	/* letter-spacing: 0.01em; */
	font-family: var(--code-font-family) !important;
	/* font-size: 15px; */
}

code,
tt {
	border: 0 solid #e7eaed;
}
/*CODE*/
.cm-comment {
	color: #507e7f !important;
}